<div class="p-4">
    <div class="row justify-content-center align-items-center">
        <h2>TO-DO List</h2>
    </div>
    <div class="row justify-content-center align-items-center h-100 mb-3">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <input type="text" [formControl]="searchField" class="form-control" name="searchField"
                   placeholder="Search by Title">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <jhi-alert></jhi-alert>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activity"
                    [routerLink]="['/activity/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
            Create new Activity
            </span>
            </button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="activities">
        <div class="list-group" *ngFor="let activity of activities; trackBy: trackId">
            <a class="list-group-item list-group-item-action" (click)="activity.isCollapsed = !activity.isCollapsed"
                    [attr.aria-expanded]="!activity.isCollapsed" aria-controls="collapseActivity">
                <span class="float-left mr-3" *ngIf="!activity.isCollapsed"><fa-icon icon="angle-right"></fa-icon></span>
                <span class="float-left mr-3" *ngIf="activity.isCollapsed"><fa-icon icon="angle-down"></fa-icon></span>
                <span class="float-left">{{activity.title}}</span>
                <span class="float-right ml-3" [ngStyle]="{'color': activity.completed ? 'green' : 'red'}"><fa-icon icon="calendar-check"></fa-icon></span>
                <span class="float-right">{{activity.categories?.name}}</span>
            </a>
            <div id="collapseActivity" [ngbCollapse]="!activity.isCollapsed">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <dt><span>Title</span></dt>
                                <dd>
                                    <span>{{activity.title}}</span>
                                </dd>
                            </div>
                            <div class="col-4">
                                <dt><span>Description</span></dt>
                                <dd>
                                    <span>{{activity.description}}</span>
                                </dd>
                            </div>
                            <div class="col-4">
                                <dt><span>Due Date</span></dt>
                                <dd>
                                    <span>{{activity.dueDate | date: 'mediumDate'}}</span>
                                </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <dt><span>Status</span></dt>
                                <dd>
                                    <span>{{activity.completed ? 'Completed' : 'Incomplete' }}</span>
                                </dd>
                            </div>
                            <div class="col-4">
                                <dt><span>Category</span></dt>
                                <dd *ngIf="activity.categories">
                                    <span>{{activity.categories?.name}}</span>
                                </dd>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/activity', activity.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                            (click)="complete(activity)"
                                            class="btn btn-info btn-sm">
                                        <fa-icon icon="check-circle"></fa-icon>
                                        <span class="d-none d-md-inline">Complete</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', 'activity', { outlets: { popup: activity.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<ul class="list-group">
            <li class="list-group-item" *ngFor="let activity of activities">
                <div class="checkbox" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <input type="checkbox" class="list-child float-left mr-3"
                          [checked]="activity.completed">
                    <span ngClass="{{activity.completed ? 'name completed': 'name'}}" class="float-left">{{activity.title}}</span>
                    <span class="label float-right">{{activity.categories?.name}}</span>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </li>
        </ul>-->
        <!--<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let activity of activities ;trackBy: trackId">
            <ngb-panel title="{{activity.title}}">
                <ng-template ngbPanelContent >
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                &lt;!&ndash;<th jhiSortBy="id"><span>ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>&ndash;&gt;
                <th jhiSortBy="title"><span>Title</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="categories.name"><span>Categories</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities ;trackBy: trackId">
                <td>{{activity.title}}</td>
                <td>
                    <div *ngIf="activity.categories">
                        {{activity.categories?.name}}
                    </div>
                </td>
                &lt;!&ndash;<td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'activity', { outlets: { popup: activity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>&ndash;&gt;
            </tr>
            </tbody>
        </table>-->
        <br>
    </div>
    <div *ngIf="activities && activities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
